/*  your css code here. If applicable */
.container{
	width:90%;
	height:150px;
	display:flex;
	justify-content:space-evenly;
	background:silver;
	border-radius:40px;
	border:5px solid black;
	text-align:center;
}
.a{
	width:25%;
	height:80%;
	border-radius:100px;
	margin:10px;
}